aiohttp==3.8.5
pymongo[srv]==4.5.0
motor==3.3.1
Pyrogram
pyshorteners==1.0.1
TgCrypto==1.2.5
bs4==0.0.1
mdisky
heroku3
shortzy==0.0.8
aiofiles
validators
requests
lxml
selenium
python-dotenv
webdriver-manager
flask
webcolors
pyromod
Pillow
